src/conf/xml-resources/web-service-references/Services_W_S/wsdl/localhost_8082/WebApplication1/Services_W_S.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.services/" name="Services_W_S">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.services/" schemaLocation="http://localhost:8082/WebApplication1/Services_W_S?xsd=1" />
</xsd:schema>
</types>
<message name="BuscarDocente">
<part name="parameters" element="tns:BuscarDocente" />
</message>
<message name="BuscarDocenteResponse">
<part name="parameters" element="tns:BuscarDocenteResponse" />
</message>
<message name="IngresarDocente">
<part name="parameters" element="tns:IngresarDocente" />
</message>
<message name="IngresarDocenteResponse">
<part name="parameters" element="tns:IngresarDocenteResponse" />
</message>
<message name="BuscarEstudiante">
<part name="parameters" element="tns:BuscarEstudiante" />
</message>
<message name="BuscarEstudianteResponse">
<part name="parameters" element="tns:BuscarEstudianteResponse" />
</message>
<message name="ConsultarEstudiantes">
<part name="parameters" element="tns:ConsultarEstudiantes" />
</message>
<message name="ConsultarEstudiantesResponse">
<part name="parameters" element="tns:ConsultarEstudiantesResponse" />
</message>
<message name="ConsultarEnInstitucion">
<part name="parameters" element="tns:ConsultarEnInstitucion" />
</message>
<message name="ConsultarEnInstitucionResponse">
<part name="parameters" element="tns:ConsultarEnInstitucionResponse" />
</message>
<message name="IngresarInstitucion">
<part name="parameters" element="tns:IngresarInstitucion" />
</message>
<message name="IngresarInstitucionResponse">
<part name="parameters" element="tns:IngresarInstitucionResponse" />
</message>
<message name="BuscarInstitucion">
<part name="parameters" element="tns:BuscarInstitucion" />
</message>
<message name="BuscarInstitucionResponse">
<part name="parameters" element="tns:BuscarInstitucionResponse" />
</message>
<message name="ConsultarDocentes">
<part name="parameters" element="tns:ConsultarDocentes" />
</message>
<message name="ConsultarDocentesResponse">
<part name="parameters" element="tns:ConsultarDocentesResponse" />
</message>
<message name="IngresarEstudiante">
<part name="parameters" element="tns:IngresarEstudiante" />
</message>
<message name="IngresarEstudianteResponse">
<part name="parameters" element="tns:IngresarEstudianteResponse" />
</message>
<portType name="Services_W_S">
<operation name="BuscarDocente">
<input wsam:Action="http://webservices.services/Services_W_S/BuscarDocenteRequest" message="tns:BuscarDocente" />
<output wsam:Action="http://webservices.services/Services_W_S/BuscarDocenteResponse" message="tns:BuscarDocenteResponse" />
</operation>
<operation name="IngresarDocente">
<input wsam:Action="http://webservices.services/Services_W_S/IngresarDocenteRequest" message="tns:IngresarDocente" />
<output wsam:Action="http://webservices.services/Services_W_S/IngresarDocenteResponse" message="tns:IngresarDocenteResponse" />
</operation>
<operation name="BuscarEstudiante">
<input wsam:Action="http://webservices.services/Services_W_S/BuscarEstudianteRequest" message="tns:BuscarEstudiante" />
<output wsam:Action="http://webservices.services/Services_W_S/BuscarEstudianteResponse" message="tns:BuscarEstudianteResponse" />
</operation>
<operation name="ConsultarEstudiantes">
<input wsam:Action="http://webservices.services/Services_W_S/ConsultarEstudiantesRequest" message="tns:ConsultarEstudiantes" />
<output wsam:Action="http://webservices.services/Services_W_S/ConsultarEstudiantesResponse" message="tns:ConsultarEstudiantesResponse" />
</operation>
<operation name="ConsultarEnInstitucion">
<input wsam:Action="http://webservices.services/Services_W_S/ConsultarEnInstitucionRequest" message="tns:ConsultarEnInstitucion" />
<output wsam:Action="http://webservices.services/Services_W_S/ConsultarEnInstitucionResponse" message="tns:ConsultarEnInstitucionResponse" />
</operation>
<operation name="IngresarInstitucion">
<input wsam:Action="http://webservices.services/Services_W_S/IngresarInstitucionRequest" message="tns:IngresarInstitucion" />
<output wsam:Action="http://webservices.services/Services_W_S/IngresarInstitucionResponse" message="tns:IngresarInstitucionResponse" />
</operation>
<operation name="BuscarInstitucion">
<input wsam:Action="http://webservices.services/Services_W_S/BuscarInstitucionRequest" message="tns:BuscarInstitucion" />
<output wsam:Action="http://webservices.services/Services_W_S/BuscarInstitucionResponse" message="tns:BuscarInstitucionResponse" />
</operation>
<operation name="ConsultarDocentes">
<input wsam:Action="http://webservices.services/Services_W_S/ConsultarDocentesRequest" message="tns:ConsultarDocentes" />
<output wsam:Action="http://webservices.services/Services_W_S/ConsultarDocentesResponse" message="tns:ConsultarDocentesResponse" />
</operation>
<operation name="IngresarEstudiante">
<input wsam:Action="http://webservices.services/Services_W_S/IngresarEstudianteRequest" message="tns:IngresarEstudiante" />
<output wsam:Action="http://webservices.services/Services_W_S/IngresarEstudianteResponse" message="tns:IngresarEstudianteResponse" />
</operation>
</portType>
<binding name="Services_W_SPortBinding" type="tns:Services_W_S">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="BuscarDocente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="IngresarDocente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="BuscarEstudiante">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultarEstudiantes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultarEnInstitucion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="IngresarInstitucion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="BuscarInstitucion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultarDocentes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="IngresarEstudiante">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Services_W_S">
<port name="Services_W_SPort" binding="tns:Services_W_SPortBinding">
<soap:address location="http://localhost:8082/WebApplication1/Services_W_S" />
</port>
</service>
</definitions>